body {
    background: rgba(0, 0, 0, 0.9);
    margin: 0;
    color: #ffff;
    font-family: 'Montserrat', sans-serif;
}

header {
    text-align: center;
}

.Formula1 {
    color: white; 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    margin-left: 5vh;
    margin-right: 5vh;
    text-align: center;
    margin-top: 5vh;
}

.a-f1 {
    color: white;
}

.table-f1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 5vh;
    margin-left: 5vh;
    text-align: center;
    margin-top: 5vh;
}

.img-f1 {
    width: 26vh;
    height: 26vh;
}

.Logos-olimpicos {
    color: white; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    margin-left: 5vh;
    margin-right: 5vh;
    text-align: center;
    margin-top: 5vh;
}

.img {
    width: 35vh;
    height: 25vh;
}

.Grupos {
    color: white; 
    display: grid;
    margin-left: 5vh;
    margin-right: 5vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.Mundial {
    width: 100px;
    height: 100px;
    margin-top: 5px;
}

.Olimpicos {
    width: 100px;
    height: 100px;
    margin-top: 5vh;
    background: white;
    border-radius: 5px;
}

.dibujo {
    color: white; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
}

.paises {
    color: white; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
}

.h3-em {
    text-align: center;
}

.mundial-grupos {
    color: white;
    margin-left: 4%;
    margin-right: 5%;
    border-color: rgb(122, 11, 54);
}


.h2 {
    text-align: center;
}

.h3 {
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
}

.img-mundial {
    width: 40%;
    height: 70%;
    margin-top: 30px;
    border-radius: 10px;
    border-style: solid;
    border-color: goldenrod;
}

.paises-img {
    width: 30%;
    height: 30%;
    margin-left: 3%;
}

.paises-article {
    font-size: 15px;
    margin-left: 40%;
    display: block;
    block-size: 5px;
}

.paises-article2 {
    margin-left: 3%;
    margin-right: 3%;
}

.geografia {
    margin-left: 35%;
}

@media(max-width: 560px) {
    

    .Logos-olimpicos{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .dibujo {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        height: 100%;
        grid-gap: 5vh;
    }

    .paises {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
        height: 100%;
        grid-gap: 5vh;
    }

/* Regula el tamaño de letra en "mundial" */

    .body-grupos {
        width: 99%;
        height: 8%;
        font-size: 5px;
        text-align: center;
    }

/* Modifica la primera imagen de la tabla en "grupos" */

    .h3 {
        text-align: center;
        margin-top: 15px;
        font-size: 10px;
    }

/* Modifica el tamaño de las banderas en el apartado "grupos" */

    .img-mundial {
        width: 25%;
        height: 15%;
    }

    .paises-img {
        width: 35%;
        height: 25%;
        margin-left: 7%;
    }
    
    .paises-article {
        font-size: 8px;
        margin-left: 50%;
        display: block;
        block-size: 10px;
    }
    
    .paises-article2 {
        margin-left: 3%;
        margin-right: 3%;
        font-size: 8px;
    }

    .geografia {
        margin-left: 12%;
    }
    
}
